name: CI

on:
  pull_request:
    branches:
      - main
      - develop
      - "epic/**"
  workflow_dispatch:

jobs:
  build:
    name: Run all tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            flutter_path: /opt/hostedtoolcache/flutter
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "12.x"
          cache: "gradle"

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          name: id_rsa
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Run flutter doctor
        run: flutter doctor -v

      - name: Get missing packages
        run: flutter pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Check licenses
        run: |
          dart pub global activate very_good_cli
          dart pub global run very_good_cli:very_good packages check licenses --allowed='MIT,Apache-2.0,Apache 2.0,BSD-3-Clause,BSD-2-Clause,BSD Zero Clause,Apache-2.0 AND BSD-2-Clause,(Apache-2.0 OR BSD-3-Clause),ISC,MS-PL,MS-EULA,MS-EULA-Non-Redistributable,Commercial,(OFL-1.1 AND MIT),BSD,0BSD,Unlicense,Custom: https://www.froala.com/wysiwyg-editor'

      - name: Run Tests
        run: flutter test
